<div class="container">
    
  <form [formGroup] = "f1" class="jumbotron">
      
      <div class="form-group">
          
          <div class="container" style = "text-align: center" >
         
             <button (click) = "click()" class=" btn btn-primary "  >
              registrati 
           
            </button>
     </div>
     <br>
          
         <p style = "color:black;" >username: </p>
         <input type="text" formControlName ='nome'><br>
             
      </div>

      
      

   

  </form>
  
</div>
  